<!DOCTYPE html> 
<html lang="ru">          
  <head>
    {% load static %}
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <!-- Подключаем описание страницы для поисковиков -->
    <meta name="description" content="Интересные статьи">
    <!-- Загружаем фав-иконки -->
    <title>
    {% block title %}Последние обновления на сайте{% endblock %}
    </title>
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Ссылка на статистические файлы -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Подключаем Bootstrap- предоставляет разработчику файл с готовыми CSS-стилями-->
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  {% include 'posts/includes/header.html' %}
  <main>
    <div class="container py-5">
      {% block content %}{% endblock %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </main>
  {% include 'posts/includes/footer.html' %}
</html>